@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--number: 36px;
	--number-title: 16px;
	--body-3: 10px;
	--body-2: clamp(0.63rem, 5vw + -0.38rem, 0.75rem);
	--body-1: clamp(0.75rem, 5vw + -0.25rem, 0.88rem);
	--heading-4: 14px;
	--heading-1: clamp(1.25rem, 10vw + -0.75rem, 1.5rem);
	--display-2: clamp(1.5rem, 15vw + -1.5rem, 1.88rem);
}

@media only screen and (min-width: 375px) {
	:root {
		--heading-1: clamp(1.5rem, 7.08vw + -0.16rem, 2.5rem);
	}
}
@media only screen and (min-width: 601px) {
	:root {
		--numbers: 48px;
		--number-title: 20px;
		--body-2: clamp(0.75rem, 1.2vw + 0.3rem, 0.88rem);
		--body-1: clamp(0.88rem, 1.2vw + 0.43rem, 1rem);
		--heading-4: clamp(0.88rem, 3.59vw + -0.47rem, 1.25rem);
		--display-2: clamp(1.88rem, 5.99vw + -0.37rem, 2.5rem);
	}
}
@media only screen and (min-width: 768px) {
	:root {
		--display-2: clamp(2.5rem, 3.13vw + 1rem, 3rem);
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

html {
	color-scheme: dark light;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

.typo-body-1 {
	font-size: var(--body-1);
}

.typo-number {
	font-size: var(--number);
}

.typo-number-title {
	font-size: var(--number-title);
}

.typo-body-2 {
	font-size: var(--body-2);
}

.typo-display-2 {
	font-size: var(--display-2);
}

.typo-heading-1 {
	font-size: var(--heading-1);
}

.typo-heading-4 {
	font-size: var(--heading-4);
}

.full-bleed-2 {
	box-shadow: 0 0 0 100vmax #f0f6ff;
	clip-path: inset(0 -100vmax);
}

.full-bleed-1 {
	box-shadow: 0 0 0 100vmax #d7e1f3;
	clip-path: inset(0 -100vmax);
}

.top-line {
	position: relative;
}
.top-line::before {
	content: "";
	background-color: #295bb7;
	display: inline-block;
	position: absolute;
	height: 2px;
	width: 38px;
	top: -75%;
}
@media only screen and (min-width: 601px) {
	.top-line::before {
		top: -25%;
		left: 200%;
	}
}
