.typo-display-1 {
	font-size: 7.529411764705882rem;
}

.typo-display-2 {
	font-size: 1.411764705882353rem;
}

.typo-heading-1 {
	font-size: 1.1764705882352942rem;
}

.typo-heading-2 {
	font-size: 2.1176470588235294rem;
}

.typo-heading-3 {
	font-size: 1.411764705882353rem;
}

.typo-heading-4 {
	font-size: 0.8235294117647058rem;
}

.typo-number-title {
	font-size: 0.9411764705882353rem;
}

.typo-number {
	font-size: 2.1176470588235294rem;
}

.typo-body-1 {
	font-size: 0.7058823529411765rem;
}

.typo-body-2 {
	font-size: 0.5882352941176471rem;
}

.typo-body-3 {
	font-size: 0.5882352941176471rem;
}

@media only screen and (min-width: 375px) {
	.typo-body-2 {
		font-size: clamp(
			0.5882352941rem,
			0.8849557522vw + 0.3930244664rem,
			0.7058823529rem
		);
	}

	.typo-body-1 {
		font-size: clamp(
			0.7058823529rem,
			1.7699115044vw + 0.3154606976rem,
			0.9411764706rem
		);
	}

	.typo-number {
		font-size: clamp(
			2.1176470588rem,
			5.3097345133vw + 0.9463820927rem,
			2.8235294118rem
		);
	}

	.typo-number-title {
		font-size: clamp(
			0.9411764706rem,
			1.7699115044vw + 0.5507548152rem,
			1.1764705882rem
		);
	}

	.typo-heading-4 {
		font-size: clamp(
			0.8235294118rem,
			2.6548672566vw + 0.2378969287rem,
			1.1764705882rem
		);
	}

	.typo-heading-1 {
		font-size: clamp(
			1.1764705882rem,
			8.8495575221vw + -0.7756376887rem,
			2.3529411765rem
		);
	}

	.typo-display-2 {
		font-size: clamp(
			1.4117647059rem,
			7.0796460177vw + -0.1499219157rem,
			2.3529411765rem
		);
	}
}

@media only screen and (min-width: 768px) {
	.typo-body-2 {
		font-size: clamp(
			0.7058823529rem,
			0.78125vw + 0.3529411765rem,
			0.8235294118rem
		);
	}

	.typo-display-2 {
		font-size: clamp(
			2.3529411765rem,
			3.125vw + 0.9411764706rem,
			2.8235294118rem
		);
	}
}
