.typo-display-1 {
	font-size: 8rem;
}

.typo-display-2 {
	font-size: 1.5rem;
}

.typo-heading-1 {
	font-size: 1.25rem;
}

.typo-heading-2 {
	font-size: 2.25rem;
}

.typo-heading-3 {
	font-size: 1.5rem;
}

.typo-heading-4 {
	font-size: 0.875rem;
}

.typo-number-title {
	font-size: 1rem;
}

.typo-number {
	font-size: 2.25rem;
}

.typo-body-1 {
	font-size: 0.75rem;
}

.typo-body-2 {
	font-size: 0.625rem;
}

.typo-body-3 {
	font-size: 0.625rem;
}

@media only screen and (min-width: 375px) {
	.typo-body-2 {
		font-size: clamp(0.63rem, 0.88vw + 0.42rem, 0.75rem);
	}

	.typo-body-1 {
		font-size: clamp(0.75rem, 1.77vw + 0.34rem, 1rem);
	}

	.typo-number {
		font-size: clamp(2.25rem, 5.31vw + 1.01rem, 3rem);
	}

	.typo-number-title {
		font-size: clamp(1rem, 1.77vw + 0.59rem, 1.25rem);
	}

	.typo-heading-4 {
		font-size: clamp(0.88rem, 2.65vw + 0.25rem, 1.25rem);
	}

	.typo-heading-1 {
		font-size: clamp(1.25rem, 8.85vw + -0.82rem, 2.5rem);
	}

	.typo-display-2 {
		font-size: clamp(1.5rem, 7.08vw + -0.16rem, 2.5rem);
	}
}

@media only screen and (min-width: 768px) {
	.typo-body-2 {
		font-size: clamp(0.75rem, 0.78vw + 0.38rem, 0.88rem);
	}

	.typo-display-2 {
		font-size: clamp(2.5rem, 3.13vw + 1rem, 3rem);
	}
}
