.top-line {
	position: relative;
}
.top-line::before {
	content: "";
	background-color: #295bb7;
	display: inline-block;
	position: absolute;
	height: 2px;
	width: 38px;
	top: -10%;
	left: calc(0%);
}

@media only screen and (min-width: 601px) {
	.top-line::before {
		height: 4px;
		width: 60px;
		top: -15%;
		left: calc(50% - 30px);
	}
}

@media only screen and (min-width: 1280px) {
	.top-line::before {
		height: 4px;
		width: 60px;
		top: -15%;
		left: 0;
	}
}

.full-bleed-section {
	box-shadow: 0 0 0 100vmax #f0f6ff;
	clip-path: inset(0 -100vmax);
}

@media only screen and (min-width: 1280px) {
	.full-bleed-section {
		box-shadow: none;
		border-radius: 60px;
	}
}

.full-bleed-bar {
	box-shadow: 0 0 0 100vmax #f0f6ff;
	clip-path: inset(0 -100vmax);
}

.full-bleed-1 {
	box-shadow: 0 0 0 100vmax #d7e1f3;
	clip-path: inset(0 -100vmax);
}

.full-bleed-primary-blue {
	box-shadow: 0 0 0 100vmax #295bb7;
	clip-path: inset(0 -100vmax);
}

.box-ether-blue {
	box-shadow: 0px 0px 33.3333px rgba(41, 91, 183, 0.35);
}

.box-ether-green {
	box-shadow: 0px 0px 33.3333px rgba(31, 184, 31, 0.35);
}

.box-ether-yellow {
	box-shadow: 0px 0px 33.3333px rgba(248, 200, 111, 0.35);
}

.box-ether-red {
	box-shadow: 0px 0px 33.3333px rgba(230, 92, 79, 0.35);
}

.stylish-underline {
	position: relative;
}

.stylish-underline:after {
	content: "";
	position: absolute;
	display: inline-blok;
	width: 100%;
}
